{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OnlyFlans</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>

    <!-- Navbar -->
    {% block 'navbar' %}
    <div>
        <!-- Barra de navegación con inicio, bienvenido y acerca de.. -->
        <nav id="barra_navegacion" class="navbar navbar-expand-lg bg-light justify-content-center">
            <div class="container">        
                <!-- Logo -->
                <span class="navbar-brand p-3">
                    <img id="logo-nav" src="{% static 'img/onlyflans_logo.png' %}" alt="Logo" />
                </span>

                <!-- Botón del toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Contenedor de los elementos de navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">    
                    <ul class="navbar-nav">
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#">Bienvenido Cliente</a>
                        </li>
                        <li class="nav-item p-3">
                            <a class="nav-link" href="#">Acerca de Onlyflans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    {% endblock %}

    <!-- Header -->
    {% block 'header' %}
    <div>
        header
    </div>
    {% endblock %}
    
    <!-- Contenido de la página -->
    {% block 'content' %}
    <div>
        content
    </div>
    {% endblock %}

    <!-- Footer de la página-->
    {% block 'footer' %}
    <div>
        footer
    </div>
    {% endblock %}
     
    <!-- JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
