{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="inicio">
        <div class="container p-3">

            <h2>Ofertas Especiales</h2><hr>

            <div class="row mb-5">
              <!-- Card para postre -->

              {% for postre in postres_publicos %}
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card mb-4 h-100 my-3">
                  <img src="{{ postre.image_url }}" class="card-img-top p-3" alt="card1"/>
                  <div class="card-body">
                    <h5 class="card-title">{{ postre.name }}</h5>
                    <p class="card-text">{{ postre.description }}</p>                    
                  </div>
                </div>
              </div>
              {% endfor %}              
                            
            </div>
          </div>
    </content>
</div>
{% endblock %}