{% extends 'base.html' %}
{% load static %}
{% block 'content' %}
<div>
    <content id="bienvenido">
        <div class="container p-3">
            <h2>Testimonios de Clientes</h2><hr>
            <div id="testimonios" class="row">
                <!-- Columna de testimonios de clientes -->
                                    
                    <!-- Tarjetas 1 -->
                    <div class="card mb-3 m-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'img/retrato2.jpg' %}" class="img-fluid rounded-start" alt="Foto de cliente">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Sofía Martínez</h5>
                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut velit eget nunc cursus interdum. Lorem ipsum dolor sit amet, consectetur adipis."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tarjetas 2 -->
                    <div class="card mb-3 m-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'img/retrato3.jpg' %}" class="img-fluid rounded-start" alt="Foto de cliente">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Eduardo Flores</h5>
                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut velit eget nunc cursus interdum. Lorem ipsum dolor sit amet, consectetur adipis."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tarjetas 3 -->
                    <div class="card mb-3 m-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{% static 'img/retrato4.jpeg' %}" class="img-fluid rounded-start" alt="Foto de cliente">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Hiroshi Rodríguez</h5>
                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut velit eget nunc cursus interdum. Lorem ipsum dolor sit amet, consectetur adipis."</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <h2>Recetas Únicas</h2><hr>
            <div id="tarjetas" class="row mb-5">
                
                <!-- Cards para postre con estado TRUE-->
                  
                {% for postre in postres_privados %}
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                  <div class="card mb-4 h-100 my-3">
                    <img src="{{ postre.image_url }}" class="card-img-top p-3" alt="card1"/>
                    <div class="card-body">
                      <h5 class="card-title">{{ postre.name }}</h5>
                      <p class="card-text">{{ postre.description }}</p>                    
                    </div>
                  </div>
                </div>
                {% endfor %}
            
            </div>                                                                                                      
        </div>        
    </content>
</div>
{% endblock %}